extends layout


block content

    h1  Welcome to Bank Marketing Predictor

    form(name="add-details", method="post")
            div.input
                span.label Age
                input(type="text", name="age")
            div.input
                span.label Job
                input(type="text", name="age")
            div.input
                span.label Marital Status
                input(type="text", name="age")
            div.input
                span.label Education
                input(type="text", name="age")
            div.input
                span.label Default
                input(type="text", name="age")
            div.input
                span.label Balance
                input(type="text", name="age")
            div.input
                span.label Housing
                input(type="text", name="age")
            div.input
                span.label Loan
                input(type="text", name="age")
            div.input
                span.label Contact
                input(type="text", name="age")
            div.input
                span.label Day
                input(type="text", name="age")
            div.input
                span.label Month
                input(type="text", name="age")
            div.input
                span.label Duration
                input(type="text", name="age")
            div.input
                span.label Campaign
                input(type="text", name="age")
            div.input
                span.label
                input(type="text", name="age")
            div.input
                span.label Job
                input(type="text", name="age")
            div.input
                span.label Job
                input(type="text", name="age")
            div.input
                span.label Job
                input(type="text", name="age")
            div.input
                span.label Job
                input(type="text", name="age")


            div.actions
                input(type="submit", value="add")
